@media (max-width: 575.98px) {
  .sigincontainer {
    max-width: 100%;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 150%;
  }
  .sigincontainer .slider {
    display: none;
  }
  .sigincontainer .form {
    width: 90%;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  }
  .sigincontainer .form .Logo {
    width: 20%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .sigincontainer .form .Logo img {
    width: 70px;
    margin: auto;
  }
  .sigincontainer .form h3 {
    color: var(--ColorPurple);
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
  }
  .sigincontainer .form p {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 500;
    text-align: center;
    color: #a0a0a0;
  }
  .sigincontainer .form p a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .form-group {
    width: 100%;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
  }
  .sigincontainer .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
    width: 25%;
    text-align: left;
  }
  .sigincontainer .form .form-group input {
    width: 75%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPurple);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .sigincontainer .form button:hover {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form .reg-link {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--ColorPurple);
    font-size: 13px;
  }
  .sigincontainer .form .reg-link a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .home {
    width: 80%;
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
  }
  .sigincontainer .form .home a {
    color: #a0a0a0;
  }
  .reg-container {
    max-width: 100%;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 60%;
  }
  .reg-container .slider {
    display: none;
  }
  .reg-container .form {
    width: 90%;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  }
  .reg-container .form .Logo {
    display: none;
  }
  .reg-container .form h3 {
    color: var(--ColorPink);
    font-size: 20px;
    text-align: left;
    margin: 10px 0px;
  }
  .reg-container .form p {
    font-size: 10px;
    text-align: left;
    text-transform: lowercase;
    font-weight: 500;
    color: #a0a0a0;
  }
  .reg-container .form p a {
    color: var(--ColorPink);
  }
  .reg-container .form .form-group {
    width: 100%;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
    font-size: 8px;
  }
  .reg-container .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    width: 20%;
    text-align: left;
  }
  .reg-container .form .form-group input {
    width: 80%;
    padding: 10px;
    margin: auto;
    outline: none;
    border: none;
  }
  .reg-container .form .form-group input::-webkit-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input:-ms-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input::-ms-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input::placeholder {
    color: transparent;
  }
  .reg-container .form .form-group select {
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .reg-container .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPink);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .reg-container .form button:hover {
    background-color: #d6d5d5;
    color: var(--ColorPink);
  }
  .reg-container .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .reg-container .form .reg-link {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--ColorPink);
    font-size: 13px;
  }
  .reg-container .form .reg-link a {
    color: var(--ColorPurple);
  }
  .reg-container .form .home {
    width: 90%;
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
  }
  .reg-container .form .home a {
    color: #a0a0a0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sigincontainer {
    max-width: 100%;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 150%;
  }
  .sigincontainer .slider {
    display: none;
  }
  .sigincontainer .form {
    width: 90%;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  }
  .sigincontainer .form .Logo {
    width: 20%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .sigincontainer .form .Logo img {
    width: 70px;
    margin: auto;
  }
  .sigincontainer .form h3 {
    color: var(--ColorPurple);
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
    padding: 10px;
  }
  .sigincontainer .form p {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 500;
    text-align: center;
    color: #a0a0a0;
  }
  .sigincontainer .form p a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .form-group {
    width: 100%;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
  }
  .sigincontainer .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
    width: 25%;
    text-align: left;
  }
  .sigincontainer .form .form-group input {
    width: 75%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPurple);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .sigincontainer .form button:hover {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form .reg-link {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--ColorPurple);
    font-size: 13px;
  }
  .sigincontainer .form .reg-link a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .home {
    width: 80%;
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
  }
  .sigincontainer .form .home a {
    color: #a0a0a0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sigincontainer {
    max-width: 100%;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 150%;
  }
  .sigincontainer .slider {
    display: none;
  }
  .sigincontainer .form {
    width: 90%;
    margin: 5rem auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  }
  .sigincontainer .form .Logo {
    width: 20%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .sigincontainer .form .Logo img {
    width: 70px;
    margin: auto;
  }
  .sigincontainer .form h3 {
    color: var(--ColorPurple);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .sigincontainer .form p {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    color: #a0a0a0;
  }
  .sigincontainer .form p a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .form-group {
    width: 100%;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
  }
  .sigincontainer .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
    width: 25%;
    text-align: left;
  }
  .sigincontainer .form .form-group input {
    width: 75%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPurple);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .sigincontainer .form button:hover {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form .reg-link {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--ColorPurple);
    font-size: 13px;
  }
  .sigincontainer .form .reg-link a {
    color: var(--ColorPink);
  }
  .sigincontainer .form .home {
    width: 80%;
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
  }
  .sigincontainer .form .home a {
    color: #a0a0a0;
  }
  .reg-container {
    max-width: 100%;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 60%;
  }
  .reg-container .slider {
    display: none;
  }
  .reg-container .form {
    width: 90%;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
  }
  .reg-container .form .Logo {
    display: none;
  }
  .reg-container .form h3 {
    color: var(--ColorPink);
    font-size: 20px;
    text-align: left;
    margin: 10px 0px;
  }
  .reg-container .form p {
    font-size: 10px;
    text-align: left;
    text-transform: lowercase;
    font-weight: 500;
    color: #a0a0a0;
  }
  .reg-container .form p a {
    color: var(--ColorPink);
  }
  .reg-container .form .form-group {
    width: 100%;
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
    font-size: 8px;
  }
  .reg-container .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    width: 20%;
    text-align: left;
  }
  .reg-container .form .form-group input {
    width: 80%;
    padding: 10px;
    margin: auto;
    outline: none;
    border: none;
  }
  .reg-container .form .form-group input::-webkit-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input:-ms-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input::-ms-input-placeholder {
    color: transparent;
  }
  .reg-container .form .form-group input::placeholder {
    color: transparent;
  }
  .reg-container .form .form-group select {
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .reg-container .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPink);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .reg-container .form button:hover {
    background-color: #d6d5d5;
    color: var(--ColorPink);
  }
  .reg-container .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .reg-container .form .reg-link {
    width: 90%;
    margin: auto;
    text-align: center;
    color: var(--ColorPink);
    font-size: 13px;
  }
  .reg-container .form .reg-link a {
    color: var(--ColorPurple);
  }
  .reg-container .form .home {
    width: 90%;
    margin: 10px auto;
    font-size: 13px;
    text-align: center;
  }
  .reg-container .form .home a {
    color: #a0a0a0;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .sigincontainer {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 170%;
  }
  .sigincontainer .slider {
    margin: 0;
    width: 40%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--ColorPurple);
  }
  .sigincontainer .slider .logo {
    width: 30%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
  .sigincontainer .slider .logo img {
    width: 85px;
    margin: auto;
  }
  .sigincontainer .slider .textSlider {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--ColorWhite);
  }
  .sigincontainer .slider .textSlider p {
    margin: 10px;
  }
  .sigincontainer .slider .socialLinks {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 80%;
    padding: 10px;
    color: var(--ColorWhite);
  }
  .sigincontainer .form {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 5px 5px 20px #49494944;
            box-shadow: 5px 5px 20px #49494944;
  }
  .sigincontainer .form .Logo {
    display: none;
  }
  .sigincontainer .form h3 {
    color: var(--ColorPurple);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin: 0;
  }
  .sigincontainer .form p {
    width: 65%;
    margin: auto;
    font-size: 10px;
    text-transform: capitalize;
    text-align: center;
    color: #a0a0a0;
  }
  .sigincontainer .form .form-group {
    width: 100%;
    margin: 1.5rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
  }
  .sigincontainer .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    width: 20%;
    text-align: left;
  }
  .sigincontainer .form .form-group input {
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form .form-group input::-webkit-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input:-ms-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input::-ms-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input::placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPurple);
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }
  .sigincontainer .form button:hover {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form .home {
    display: none;
  }
}

@media (min-width: 1200px) {
  .sigincontainer {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../LogopurpleTrans.png");
    background-repeat: no-repeat;
    background-position: 150%;
  }
  .sigincontainer .slider {
    margin: 0;
    width: 40%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--ColorPurple);
  }
  .sigincontainer .slider .logo {
    width: 30%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10px;
  }
  .sigincontainer .slider .logo img {
    width: 100px;
    margin: auto;
  }
  .sigincontainer .slider .textSlider {
    width: 80%;
    margin: 5px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--ColorWhite);
  }
  .sigincontainer .slider .textSlider p {
    margin: 10px;
  }
  .sigincontainer .slider .socialLinks {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 80%;
    padding: 10px;
    color: var(--ColorWhite);
  }
  .sigincontainer .form {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    background-color: var(--ColorWhite);
    -webkit-box-shadow: 5px 5px 20px #49494944;
            box-shadow: 5px 5px 20px #49494944;
  }
  .sigincontainer .form .Logo {
    display: none;
  }
  .sigincontainer .form h3 {
    color: var(--ColorPurple);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin: 0;
  }
  .sigincontainer .form p {
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
    color: #a0a0a0;
  }
  .sigincontainer .form .form-group {
    width: 100%;
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #a0a0a0;
  }
  .sigincontainer .form .form-group label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    width: 30%;
    text-align: left;
  }
  .sigincontainer .form .form-group input {
    width: 70%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form .form-group input::-webkit-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input:-ms-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input::-ms-input-placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group input::placeholder {
    color: #cac9c9;
  }
  .sigincontainer .form .form-group select {
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    outline: none;
  }
  .sigincontainer .form button {
    margin: 20px auto;
    width: 100%;
    height: 50px;
    background-color: var(--ColorPurple);
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }
  .sigincontainer .form button:hover {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form button:disabled {
    background-color: #aaa;
    color: #e7e6e6;
  }
  .sigincontainer .form .home {
    display: none;
  }
}
/*# sourceMappingURL=forgotpassword.css.map */