@media (max-width: 575.98px) {
    .sigincontainer {
        max-width: 100%;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150%;
        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;
                display: none;

                img {
                    width: 70px;
                    margin: auto;
                }
            }
            h3 {
                color: var(--ColorPurple);
                font-size: 20px;
                margin: 10px 0px;
                text-align: center;
                padding: 10px;

            }

            p {
                font-size: 14px;
                text-transform: lowercase;
                font-weight: 500;
                text-align: center;
                color: #a0a0a0;

                a {
                    color: var(--ColorPink);
                }

            }
            .form-group {
                width: 100%;
                margin: 3rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 8px;
                    width: 25%;
                    text-align: left;
                }
                
                input {
                    width: 75%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }
            }


            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPurple);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #aaa;
                color: #e7e6e6;
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }
            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }

    .reg-container {
        max-width: 100%;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 60%;
        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 3rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                display: none;
            }

            h3 {
                color: var(--ColorPink);
                font-size: 20px;
                text-align: left;
                margin: 10px 0px;
            }

            p {
                font-size: 10px;
                text-align: left;
                text-transform: lowercase;
                font-weight: 500;
                color: #a0a0a0;

                a {
                    color: var(--ColorPink);
                }

            }

            .form-group {
                width: 100%;
                margin: 1rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;
                font-size: 8px;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 20%;
                    text-align: left;
                }

                input {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    outline: none;
                    border: none;
                }
                input::placeholder{
                    color: transparent;
                }
                select {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }

            }

            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPink);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #d6d5d5;
                color: var(--ColorPink);
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }
            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPink);
                font-size: 13px;

                a {
                    color: var(--ColorPurple);

                }
            }

            .home {
                width: 90%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }


    }

   }


@media (min-width: 576px) and (max-width: 767.98px) {
    .sigincontainer {
        max-width: 100%;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150%;
        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;
                display: none;

                img {
                    width: 70px;
                    margin: auto;
                }
            }
            h3 {
                color: var(--ColorPurple);
                font-size: 20px;
                margin: 10px 0px;
                text-align: center;
                padding: 10px;

            }

            p {
                font-size: 14px;
                text-transform: lowercase;
                font-weight: 500;
                text-align: center;
                color: #a0a0a0;

                a {
                    color: var(--ColorPink);
                }

            }
            .form-group {
                width: 100%;
                margin: 3rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 8px;
                    width: 25%;
                    text-align: left;
                }
                
                input {
                    width: 75%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }
            }


            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPurple);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #aaa;
                color: #e7e6e6;
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }
            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }


}


@media (min-width: 768px) and (max-width: 991.98px) {
    .sigincontainer {
        max-width: 100%;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150%;
        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;
                display: none;

                img {
                    width: 70px;
                    margin: auto;
                }
            }
            h3 {
                color: var(--ColorPurple);
                font-size: 25px;
                font-weight: 700;
                text-align: center;

            }

            p {
                font-size: 12px;
                text-transform: capitalize;
                font-weight: 500;
                text-align: center;
                color: #a0a0a0;

                a {
                    color: var(--ColorPink);
                }

            }
            .form-group {
                width: 100%;
                margin: 3rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 8px;
                    width: 25%;
                    text-align: left;
                }
                
                input {
                    width: 75%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }
            }


            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPurple);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #aaa;
                color: #e7e6e6;
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }
            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }

    .reg-container {
        max-width: 100%;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 60%;
        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 3rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                display: none;
            }

            h3 {
                color: var(--ColorPink);
                font-size: 20px;
                text-align: left;
                margin: 10px 0px;
            }

            p {
                font-size: 10px;
                text-align: left;
                text-transform: lowercase;
                font-weight: 500;
                color: #a0a0a0;

                a {
                    color: var(--ColorPink);
                }

            }

            .form-group {
                width: 100%;
                margin: 1rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;
                font-size: 8px;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 20%;
                    text-align: left;
                }

                input {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    outline: none;
                    border: none;
                }
                input::placeholder{
                    color: transparent;
                }
                select {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }

            }

            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPink);
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background-color: #d6d5d5;
                color: var(--ColorPink);
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }
            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPink);
                font-size: 13px;

                a {
                    color: var(--ColorPurple);

                }
            }

            .home {
                width: 90%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }


    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sigincontainer {
        max-width: 100%;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 170%;

        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 85px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                display: flex;
                align-items: center;
                color: var(--ColorWhite);

                p {
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;
                color: var(--ColorWhite);

            }

        }

        .form {
            width: 50%;
            height: fit-content;
            margin:auto;
            border-radius: 10px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;

            .Logo {
                display: none;
            }

            h3 {
                color: var(--ColorPurple);
                font-size: 25px;
                font-weight: 800;
                text-align: center;
                margin: 0;

            }

            p {
                width: 65%;
                margin: auto;
                font-size: 10px;
                text-transform: capitalize;
                text-align: center;
                color: #a0a0a0;

            }

            .form-group {
                width: 100%;
                margin: 1.5rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 11px;
                    width: 20%;
                    text-align: left;
                }

                input {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }

                input::placeholder {
                    color: #cac9c9;
                }
            }


            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPurple);
                border: none;
                color: #fff;
                border-radius: 10px;
                cursor: pointer;
                outline: none;
            }

            button:hover {
                background-color: #aaa;
                color: #e7e6e6;
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }

            .home {
                display: none;
            }
        }
    }

}


@media (min-width: 1200px) {
    .sigincontainer {
        max-width: 100%;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150%;

        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                display: flex;
                align-items: center;
                color: var(--ColorWhite);

                p {
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;
                color: var(--ColorWhite);

            }

        }

        .form {
            width: 50%;
            height: fit-content;
            margin:auto;
            border-radius: 10px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;

            .Logo {
                display: none;
            }

            h3 {
                color: var(--ColorPurple);
                font-size: 25px;
                font-weight: 800;
                text-align: center;
                margin: 0;

            }

            p {
                font-size: 12px;
                text-transform: capitalize;
                text-align: center;
                color: #a0a0a0;

            }

            .form-group {
                width: 100%;
                margin: 3rem auto;
                display: flex;
                align-items: center;
                border-bottom: solid 1px #a0a0a0;

                label {
                    color: #a0a0a0;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 11px;
                    width: 30%;
                    text-align: left;
                }

                input {
                    width: 70%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }

                input::placeholder {
                    color: #cac9c9;
                }

                select {
                    width: 80%;
                    padding: 10px;
                    margin: auto;
                    border: none;
                    outline: none;
                }
            }


            button {
                margin: 20px auto;
                width: 100%;
                height: 50px;
                background-color: var(--ColorPurple);
                border: none;
                color: #fff;
                border-radius: 10px;
                cursor: pointer;
                outline: none;
            }

            button:hover {
                background-color: #aaa;
                color: #e7e6e6;
            }
            button:disabled{
                background-color: #aaa;
                color: #e7e6e6;
            }

            .home {
                display: none;
            }
        }
    }

}