.sub-container {
  min-width: 90%;
  margin: auto;
  padding: 2.5rem 5rem;
  color: var(--ColorPurple);
  justify-content: center;
  align-items: center;
}

.sub-container > p{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size:25px ;
    font-weight: 700;
    padding-left: 2rem;
}
.sub-container > p >span{
   color: var(--ColorPink);
}
.category-cards{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cat-card{
    background-color: white;
    padding: 30px 20px ;
    width: 5cm;
    margin: 10px auto;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 2px 7px #d6d6d6c5;
    border-radius: 20px;
}
.cat-card:hover{
    background-color: var(--ColorPink);
    color: #fff !important;
    box-shadow: 1px 20px 20px #20202049;
    transform: translateY(-10px);
    transition: all linear 0.4s;
}


@media screen and (max-width: 1080px) {
.sub-container{
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.sub-container > p{
    width: 100%;
    text-align: left;
    font-size: 19px;
}
.category-cards{
    width: 100%;
    margin: 10px 0;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.cat-card{
background-color: transparent;
box-shadow: none;
width: 100%;
padding: 0 20px;
margin: 0;
font-size: 15px;
}
.cat-card:hover{
    background-color: var(--ColorWhite);
    color: var(--ColorPurple) !important;
    box-shadow: none;
    transform: none;
}
}