@media (max-width: 575.98px) {
  .evn-container {
    max-width: 100%;
    margin: auto;
  }
  .evn-container p {
    width: 90%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--ColorPurple);
    margin-top: 3rem;
  }
  .evn-container p span {
    color: var(--ColorPink);
  }
  .evn-container .cards {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #aaaaaa;
    list-style-type: none;
    margin: 2rem auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--ColorPink);
    font-weight: bold;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .evn-container {
    max-width: 100%;
    margin: auto;
  }
  .evn-container p {
    width: 90%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--ColorPurple);
    margin-top: 3rem;
  }
  .evn-container p span {
    color: var(--ColorPink);
  }
  .evn-container .cards {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #aaaaaa;
    list-style-type: none;
    margin: 2rem auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--ColorPink);
    font-weight: bold;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .evn-container {
    max-width: 100%;
    margin: auto;
  }
  .evn-container p {
    width: 90%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--ColorPurple);
    margin-top: 3rem;
  }
  .evn-container p span {
    color: var(--ColorPink);
  }
  .evn-container .cards {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #aaaaaa;
    list-style-type: none;
    margin: 2rem auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--ColorPink);
    font-weight: bold;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .evn-container {
    max-width: 90%;
    margin: auto;
  }
  .evn-container p {
    width: 95%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--ColorPurple);
    margin-top: 3rem;
  }
  .evn-container p span {
    color: var(--ColorPink);
  }
  .evn-container .cards {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #aaaaaa;
    list-style-type: none;
    margin: 2rem auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--ColorPink);
    font-weight: bold;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .evn-container {
    max-width: 90%;
    margin: auto;
  }
  .evn-container p {
    width: 95%;
    margin: auto;
    font-size: 30px;
    font-weight: 700;
    color: var(--ColorPurple);
    margin-top: 3rem;
  }
  .evn-container p span {
    color: var(--ColorPink);
  }
  .evn-container .cards {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #aaaaaa;
    list-style-type: none;
    margin: 2rem auto;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 14px;
    color: var(--ColorPink);
    font-weight: bold;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=EventsNear.css.map */