@media (max-width: 575.98px) {
  .wwd {
    max-width: 90%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 15px 20px #4d4c4c25;
            box-shadow: 10px 15px 20px #4d4c4c25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    margin-top: -4rem;
  }
  .wwd .left-class {
    width: 80%;
    color: var(--ColorPurple);
    padding: 10px;
    border-right: solid 5px var(--ColorPurple);
  }
  .wwd .left-class h2 {
    padding: 10px 20px;
    width: 100%;
    margin: auto;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .wwd .left-class p {
    max-width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  .wwd .right-class {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg.png");
    background-position: right;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .wwd {
    max-width: 90%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 15px 20px #4d4c4c25;
            box-shadow: 10px 15px 20px #4d4c4c25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    margin-top: -4rem;
  }
  .wwd .left-class {
    width: 80%;
    color: var(--ColorPurple);
    padding: 10px;
    border-right: solid 5px var(--ColorPurple);
  }
  .wwd .left-class h2 {
    padding: 10px 20px;
    width: 100%;
    margin: auto;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .wwd .left-class p {
    max-width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  .wwd .right-class {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg.png");
    background-position: right;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .wwd {
    max-width: 80%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 15px 30px 10px #00000027;
            box-shadow: 10px 15px 30px 10px #00000027;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  .wwd .left-class {
    width: 80%;
    color: var(--ColorPurple);
    padding: 15px;
    border-right: solid 5px var(--ColorPurple);
  }
  .wwd .left-class h2 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .wwd .left-class p {
    max-width: 100%;
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
  }
  .wwd .right-class {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg.png");
    background-position: left;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .wwd {
    max-width: 70%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 15px 30px 10px #00000027;
            box-shadow: 10px 15px 30px 10px #00000027;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  .wwd .left-class {
    width: 80%;
    color: var(--ColorPurple);
    padding: 10px;
    border-right: solid 5px var(--ColorPurple);
  }
  .wwd .left-class h2 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .wwd .left-class p {
    max-width: 100%;
    padding: 20px 30px;
    text-align: center;
    font-size: 16px;
  }
  .wwd .right-class {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg.png");
    background-position: left;
  }
}

@media (min-width: 1200px) {
  .wwd {
    max-width: 70%;
    margin: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 15px 30px 10px #00000027;
            box-shadow: 10px 15px 30px 10px #00000027;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  .wwd .left-class {
    width: 80%;
    color: var(--ColorPurple);
    padding: 40px;
    border-right: solid 5px var(--ColorPurple);
  }
  .wwd .left-class h2 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .wwd .left-class p {
    max-width: 100%;
    padding: 5px 40px;
    text-align: center;
    font-size: 16px;
  }
  .wwd .right-class {
    width: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("bg.png");
    background-position: left;
  }
}
/*# sourceMappingURL=style.css.map */