/* Sigin Page Styles */

//   .slider {
//     margin: 0;
//     width: 37%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     background-color: var(--ColorPurple);
//   }

//   .logo > a > img {
//     width: 150px;
//     height: 150px;
//     margin: auto;
//   }
//   .textSlider {
//     width: 70%;
//     margin: 0 auto;
//     margin-top: 7rem;
//     font-size: 32px;
//     font-weight: 700;
//   }
//   .socialLinks {
//     position: absolute;
//     bottom: 0;
//     font-size: 12px;
//     width: 80%;
//     padding: 10px;
//   }
//   .form {
//     width: 63%;
//     height: 100vh;
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//   }
//   .signinform {
//     margin: auto;
//     justify-items: center;
//     align-items: center;
//     width: 90%;
//   }
//   .form-group {
//     margin: 20px auto;
//     display: flex;
//     width: 100%;
//     flex-direction: column;
//   }
//   .signinform > form > .form-group > label {
//     color: var(--ColorPurple);
//     margin: 15px auto;
//     font-weight: 600;
//   }
//   .signinform > form > .form-group > input {
//     margin: auto;
//     border: none;
//     height: 50px;
//     width: 55%;
//     padding-left: 20px;
//     border-radius: 5px;
//     border: solid 2px #e7e6e6;

//   }
//   .signinform > form > .form-group > input:hover {
//     box-shadow: none;
//     outline: var(--ColorPink);
//   }
//   .signinform > form > .form-group > input:active {
//     outline: 1px var(--ColorPink);
//   }
//   .signinform > form > .form-group > button {
//     margin: 45px auto;
//     width: 55%;
//     height: 50px;
//     background-color: var(--ColorPurple) ;
//     border: none;
//     color: #fff;
//     border-radius: 5px;
//     cursor: pointer;
//   }
//   .signinform > form > .form-group > .btn{
//     text-align: center !important;
//     padding: auto;
//     font-size: 20px;
//   }
//   .signinform > form > .form-group > button:hover{
//     background-color: #aaa;
//     color: #e7e6e6;
//   }

//   .register {
//     position: absolute;
//     top: 0;
//     right: 0;
//     color: #aaa;
//   }
//   .register > p {
//     font-weight: 500;
//     font-size: 15px;
//     padding: 50px;
//   }

//   /* Register Page Styles */

//   .regcontainer {
//     width: 100%;
//     display: flex;
//   }
//   .regcontainer > .slider{

//     background-color: var(--ColorPink);
//   }


//   .registerform {
//     margin: auto;
//     margin-top: 120px;
//     justify-items: center;
//     align-items: center;
//     width: 70%;
//   }
//   .registerform > form > .form-group > label {
//     font-weight: 600;
//     margin-left: 35px;
//     color: var(--ColorPink) !important;
//   }


//   .registerform > form > .form-group {
//     margin: 20px auto;
//     display: flex;
//     width: 90%;
//     flex-direction: column;
//   }

//   .registerform > form > .form-group > input {
//     margin: auto;
//     border: none;
//     height: 50px;
//     padding-left: 20px;
//     width: 90%;
//     border-radius: 5px;
//     border: solid 2px #e7e6e6;
//   }

//   .registerform > form > .form-group > button {
//     width: 90%;
//     margin: auto;
//     padding: 15px;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;

//   }
//   .regbtn {
//     background-color: var(--ColorPink) !important;
//     color: #fff;
//   }
//   .regbtn:hover {
//     color: #fff;
//     background-color: var(--ColorPurple) !important;
//     box-shadow: 2px 2px 10px var(--ColorPurple);
//   }

@media (max-width: 575.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                overflow: hidden;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                overflow: hidden;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sigincontainer {

        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 170% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 50%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    }
}


@media (min-width: 1200px) { 
    .sigincontainer {
        max-width: 100%;
        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                display: flex;
                align-items: center;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 40%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    }
 }