@media (max-width: 575.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }
    .reg-container{
        max-width: 100%;
        .slider {
            display: none;
        }
        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPink);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #d6d5d5;
                    color: var(--ColorPink);
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPink);
                font-size: 13px;

                a {
                    color: var(--ColorPurple);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    
    }
    .alert {
        background-color: #ff59b23b;
        color: var(--ColorPink);
        font-size: 10px;
        border-left: solid 6px #FF1493;
        display: flex;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 5px;

        p {
            color: var(--ColorPink);
            font-size: 20px;
        }
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                overflow: hidden;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }
    .reg-container{
        max-width: 100%;
        .slider {
            display: none;
        }
        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPink);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #d6d5d5;
                    color: var(--ColorPink);
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPink);
                font-size: 13px;

                a {
                    color: var(--ColorPurple);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    
    }
    .alert {
        background-color: #ff59b23b;
        color: var(--ColorPink);
        font-size: 10px;
        border-left: solid 6px #FF1493;
        display: flex;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 5px;

        p {
            color: var(--ColorPink);
            font-size: 20px;
        }
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .sigincontainer {
        max-width: 100%;

        .slider {
            display: none;
        }

        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                overflow: hidden;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    }
    .reg-container{
        max-width: 100%;
        .slider {
            display: none;
        }
        .form {
            width: 90%;
            margin: 5rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);

            .Logo {
                width: 20%;
                margin: auto;
                align-items: center;

                img {
                    width: 70px;
                    margin: auto;
                }
            }

            .form-group {
                width: 80%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPink);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #d6d5d5;
                    color: var(--ColorPink);
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPink);
                font-size: 13px;

                a {
                    color: var(--ColorPurple);

                }
            }

            .home {
                width: 80%;
                margin: 10px auto;
                font-size: 13px;
                text-align: center;

                a {
                    color: #a0a0a0;

                }
            }
        }

    
    }
    .alert {
        background-color: #ff59b23b;
        color: var(--ColorPink);
        font-size: 10px;
        border-left: solid 6px #FF1493;
        display: flex;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: auto;
        padding: 5px;

        p {
            color: var(--ColorPink);
            font-size: 20px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sigincontainer {
        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 170% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 50%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    }
    .reg-container{
        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 170% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPink);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 50%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPink);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    
    
    }
    .alert {
        background-color: #ff59b23b;
        color: var(--ColorPink);
        font-size: 10px;
        border-left: solid 6px #FF1493;
        display: flex;
        align-items: center;
        text-align: center;
        width: 45%;
        margin: auto;
        padding: 5px;

        p {
            color: var(--ColorPink);
            font-size: 20px;
        }
    }
}


@media (min-width: 1200px) { 
    .sigincontainer {
        max-width: 100%;
        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 150% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPurple);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                display: flex;
                align-items: center;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 40%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPurple);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    }
    .reg-container{
        height: 100vh;
        display: flex;
        background-image: url('../LogopurpleTrans.png');
        background-repeat: no-repeat;
        background-position: 170% ;
        .slider {
            margin: 0;
            width: 40%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            background-color: var(--ColorPink);

            .logo {
                width: 30%;
                margin: auto;
                margin-top: 10rem;
                margin-bottom: 10px;


                img {
                    width: 100px;
                    margin: auto;
                }
            }

            .textSlider {
                width: 80%;
                margin: 5px auto;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
                p{
                    margin: 10px;
                }
            }

            .socialLinks {
                position: absolute;
                bottom: 0;
                font-size: 12px;
                width: 80%;
                padding: 10px;

            }

        }

        .form {
            width: 50%;
            margin: 7rem auto;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--ColorWhite);
            box-shadow: 5px 5px 20px #49494944;
            .Logo {
                display: none;
            }

            .form-group {
                width: 60%;
                margin: 10px auto;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0px;
                    border-right: none;
                    border-left: none;
                    border-top: none;
                    border-bottom: solid 1px #a0a0a0;
                }

                button {
                    margin: 20px auto;
                    width: 100%;
                    height: 50px;
                    background-color: var(--ColorPink);
                    border: none;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #aaa;
                    color: #e7e6e6;
                }
            }


            .reg-link {
                width: 90%;
                margin: auto;
                text-align: center;
                color: var(--ColorPurple);
                font-size: 13px;

                a {
                    color: var(--ColorPink);

                }
            }

            .home {
               display: none;
            }
        }

    
    
    }
    .alert {
        background-color: #ff59b23b;
        color: var(--ColorPink);
        font-size: 10px;
        border-left: solid 6px #FF1493;
        display: flex;
        align-items: center;
        text-align: center;
        width: 40%;
        margin: auto;
        padding: 5px;

        p {
            color: var(--ColorPink);
            font-size: 20px;
        }
    }
 }