@media (max-width: 575.98px) {
  .contactus__ {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactus__ .contact-contains {
    width: 100%;
    background-color: var(--ColorPurple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactus__ .contact-contains .contained {
    width: 100%;
    text-align: center;
    margin: auto;
    color: var(--ColorWhite) !important;
    padding: 3rem;
  }
  .contactus__ .contact-contains .contained h2 {
    color: var(--ColorWhite) !important;
    font-size: 25px;
    font-weight: 700;
  }
  .contactus__ .contact-contains .contained p {
    font-size: 12px;
  }
  .contactus__ .contact-contains .contact__form {
    width: 90%;
    position: absolute;
    background-color: #E9E1F5;
    border-radius: 5px;
    top: 17rem;
    right: 1rem;
    -webkit-box-shadow: 10px 10px 20px #00000036;
            box-shadow: 10px 10px 20px #00000036;
  }
  .contactus__ .contact-contains .contact__form .form_brief {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }
  .contactus__ .contact-contains .contact__form .form_brief img {
    width: 50px;
  }
  .contactus__ .contact-contains .contact__form .form_brief p {
    width: 75%;
    margin: auto;
    font-size: 16px;
    font-weight: 800;
    color: var(--ColorPurple);
    padding: 5px;
    text-align: justify;
  }
  .contactus__ .contact-contains .contact__form form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .contactus__ .contact-contains .contact__form form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    outline: none;
  }
  .contactus__ .contact-contains .contact__form form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    resize: none;
    outline: none;
    height: 10rem;
  }
  .contactus__ .contact-contains .contact__form form .btn-send {
    width: 90%;
    margin: auto;
  }
  .contactus__ .contact-contains .contact__form form .btn-send button {
    background-color: var(--ColorPurple);
    color: var(--ColorWhite);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .contactus__ .contact-contains .contact__form form small {
    text-align: center;
    margin: auto;
  }
  .contactus__ .our-contacts {
    width: 95%;
    margin: auto;
    padding: 40px;
  }
  .contactus__ .our-contacts .contacts {
    width: 100%;
    padding: 20px;
    padding-top: 32rem;
  }
  .contactus__ .our-contacts .contacts p {
    font-size: 20px;
  }
  .contactus__ .our-contacts .contacts .social-media-links {
    margin-bottom: 30px;
  }
  .contactus__ .our-contacts .contacts .social-media-links p {
    font-size: 15px;
  }
  .contactus__ .our-contacts .contacts .social-media-links a {
    margin-right: 40px;
    font-size: 20px;
    color: var(--ColorPink);
  }
  .contactus__ .our-contacts .contacts .contact-addresses {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactus__ .our-contacts .contacts .contact-addresses p {
    font-size: 15px;
  }
  .contactus__ .our-contacts .contacts .contact-addresses a {
    margin-right: 40px;
    font-size: 17px;
    color: var(--ColorPink);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .contactus__ {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactus__ .contact-contains {
    width: 100%;
    background-color: var(--ColorPurple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactus__ .contact-contains .contained {
    width: 90%;
    text-align: center;
    margin: auto;
    color: var(--ColorWhite) !important;
    padding: 6rem;
  }
  .contactus__ .contact-contains .contained h2 {
    color: var(--ColorWhite) !important;
    font-size: 50px;
    font-weight: 700;
  }
  .contactus__ .contact-contains .contained p {
    font-size: 15px;
  }
  .contactus__ .contact-contains .contact__form {
    width: 70%;
    position: absolute;
    background-color: #E9E1F5;
    border-radius: 5px;
    top: 25rem;
    right: 6rem;
    -webkit-box-shadow: 10px 10px 20px #00000036;
            box-shadow: 10px 10px 20px #00000036;
  }
  .contactus__ .contact-contains .contact__form .form_brief {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }
  .contactus__ .contact-contains .contact__form .form_brief img {
    width: 80px;
  }
  .contactus__ .contact-contains .contact__form .form_brief p {
    width: 75%;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    color: var(--ColorPurple);
    padding: 5px;
    text-align: justify;
  }
  .contactus__ .contact-contains .contact__form form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .contactus__ .contact-contains .contact__form form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    outline: none;
  }
  .contactus__ .contact-contains .contact__form form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    resize: none;
    outline: none;
    height: 10rem;
  }
  .contactus__ .contact-contains .contact__form form .btn-send {
    width: 90%;
    margin: auto;
  }
  .contactus__ .contact-contains .contact__form form .btn-send button {
    background-color: var(--ColorPurple);
    color: var(--ColorWhite);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .contactus__ .contact-contains .contact__form form small {
    text-align: center;
    margin: auto;
  }
  .contactus__ .our-contacts {
    width: 90%;
    margin: auto;
    padding: 40px;
  }
  .contactus__ .our-contacts .contacts {
    width: 100%;
    padding: 20px;
    padding-top: 32rem;
  }
  .contactus__ .our-contacts .contacts p {
    font-size: 28px;
  }
  .contactus__ .our-contacts .contacts .social-media-links {
    margin-bottom: 30px;
  }
  .contactus__ .our-contacts .contacts .social-media-links p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .social-media-links a {
    margin-right: 40px;
    font-size: 30px;
    color: var(--ColorPink);
  }
  .contactus__ .our-contacts .contacts .contact-addresses {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactus__ .our-contacts .contacts .contact-addresses p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .contact-addresses a {
    margin-right: 40px;
    font-size: 20px;
    color: var(--ColorPink);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .contactus__ {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactus__ .contact-contains {
    width: 100%;
    background-color: var(--ColorPurple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactus__ .contact-contains .contained {
    width: 90%;
    text-align: center;
    margin: auto;
    color: var(--ColorWhite) !important;
    padding: 6rem;
  }
  .contactus__ .contact-contains .contained h2 {
    color: var(--ColorWhite) !important;
    font-size: 10px;
    font-weight: 700;
  }
  .contactus__ .contact-contains .contained p {
    font-size: 15px;
  }
  .contactus__ .contact-contains .contact__form {
    width: 70%;
    position: absolute;
    background-color: #E9E1F5;
    border-radius: 5px;
    top: 25rem;
    right: 6rem;
    -webkit-box-shadow: 10px 10px 20px #00000036;
            box-shadow: 10px 10px 20px #00000036;
  }
  .contactus__ .contact-contains .contact__form .form_brief {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }
  .contactus__ .contact-contains .contact__form .form_brief img {
    width: 80px;
  }
  .contactus__ .contact-contains .contact__form .form_brief p {
    width: 75%;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    color: var(--ColorPurple);
    padding: 5px;
    text-align: justify;
  }
  .contactus__ .contact-contains .contact__form form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .contactus__ .contact-contains .contact__form form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    outline: none;
  }
  .contactus__ .contact-contains .contact__form form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    resize: none;
    outline: none;
    height: 10rem;
  }
  .contactus__ .contact-contains .contact__form form .btn-send {
    width: 90%;
    margin: auto;
  }
  .contactus__ .contact-contains .contact__form form .btn-send button {
    background-color: var(--ColorPurple);
    color: var(--ColorWhite);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .contactus__ .contact-contains .contact__form form small {
    text-align: center;
    margin: auto;
  }
  .contactus__ .our-contacts {
    width: 90%;
    margin: auto;
    padding: 40px;
  }
  .contactus__ .our-contacts .contacts {
    width: 100%;
    padding: 20px;
    padding-top: 32rem;
  }
  .contactus__ .our-contacts .contacts p {
    font-size: 28px;
  }
  .contactus__ .our-contacts .contacts .social-media-links {
    margin-bottom: 30px;
  }
  .contactus__ .our-contacts .contacts .social-media-links p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .social-media-links a {
    margin-right: 40px;
    font-size: 30px;
    color: var(--ColorPink);
  }
  .contactus__ .our-contacts .contacts .contact-addresses {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactus__ .our-contacts .contacts .contact-addresses p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .contact-addresses a {
    margin-right: 40px;
    font-size: 20px;
    color: var(--ColorPink);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contactus__ {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactus__ .contact-contains {
    width: 100%;
    background-color: var(--ColorPurple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactus__ .contact-contains .contained {
    width: 45%;
    color: var(--ColorWhite) !important;
    padding: 6rem;
  }
  .contactus__ .contact-contains .contained h2 {
    color: var(--ColorWhite) !important;
    font-size: 50px;
    font-weight: 700;
  }
  .contactus__ .contact-contains .contained p {
    font-size: 15px;
  }
  .contactus__ .contact-contains .contact__form {
    width: 40%;
    position: absolute;
    background-color: #E9E1F5;
    border-radius: 5px;
    top: 15rem;
    right: 10rem;
    -webkit-box-shadow: 10px 10px 20px #00000036;
            box-shadow: 10px 10px 20px #00000036;
  }
  .contactus__ .contact-contains .contact__form .form_brief {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }
  .contactus__ .contact-contains .contact__form .form_brief img {
    width: 80px;
  }
  .contactus__ .contact-contains .contact__form .form_brief p {
    width: 75%;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    color: var(--ColorPurple);
    padding: 5px;
    text-align: justify;
  }
  .contactus__ .contact-contains .contact__form form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .contactus__ .contact-contains .contact__form form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    outline: none;
  }
  .contactus__ .contact-contains .contact__form form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    resize: none;
    outline: none;
    height: 10rem;
  }
  .contactus__ .contact-contains .contact__form form .btn-send {
    width: 90%;
    margin: auto;
  }
  .contactus__ .contact-contains .contact__form form .btn-send button {
    background-color: var(--ColorPurple);
    color: var(--ColorWhite);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .contactus__ .contact-contains .contact__form form small {
    text-align: center;
    margin: auto;
  }
  .contactus__ .our-contacts {
    padding: 40px;
  }
  .contactus__ .our-contacts .contacts {
    width: 45%;
    padding: 20px;
  }
  .contactus__ .our-contacts .contacts p {
    font-size: 28px;
  }
  .contactus__ .our-contacts .contacts .social-media-links {
    margin-bottom: 30px;
  }
  .contactus__ .our-contacts .contacts .social-media-links p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .social-media-links a {
    margin-right: 40px;
    font-size: 30px;
    color: var(--ColorPink);
  }
  .contactus__ .our-contacts .contacts .contact-addresses {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactus__ .our-contacts .contacts .contact-addresses p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .contact-addresses a {
    margin-right: 40px;
    font-size: 20px;
    color: var(--ColorPink);
  }
}

@media (min-width: 1200px) {
  .contactus__ {
    max-width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactus__ .contact-contains {
    width: 100%;
    background-color: var(--ColorPurple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contactus__ .contact-contains .contained {
    width: 45%;
    color: var(--ColorWhite) !important;
    padding: 6rem;
  }
  .contactus__ .contact-contains .contained h2 {
    color: var(--ColorWhite) !important;
    font-size: 50px;
    font-weight: 700;
  }
  .contactus__ .contact-contains .contained p {
    font-size: 15px;
  }
  .contactus__ .contact-contains .contact__form {
    width: 40%;
    position: absolute;
    background-color: #E9E1F5;
    border-radius: 5px;
    top: 15rem;
    right: 10rem;
    -webkit-box-shadow: 10px 10px 20px #00000036;
            box-shadow: 10px 10px 20px #00000036;
  }
  .contactus__ .contact-contains .contact__form .form_brief {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
    padding: 25px;
    border-radius: 5px 5px 0 0;
  }
  .contactus__ .contact-contains .contact__form .form_brief img {
    width: 80px;
  }
  .contactus__ .contact-contains .contact__form .form_brief p {
    width: 75%;
    margin: auto;
    font-size: 30px;
    font-weight: 800;
    color: var(--ColorPurple);
    padding: 5px;
    text-align: justify;
  }
  .contactus__ .contact-contains .contact__form form {
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .contactus__ .contact-contains .contact__form form input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    outline: none;
  }
  .contactus__ .contact-contains .contact__form form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    resize: none;
    outline: none;
    height: 10rem;
  }
  .contactus__ .contact-contains .contact__form form .btn-send {
    width: 90%;
    margin: auto;
  }
  .contactus__ .contact-contains .contact__form form .btn-send button {
    background-color: var(--ColorPurple);
    color: var(--ColorWhite);
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .contactus__ .contact-contains .contact__form form small {
    text-align: center;
    margin: auto;
  }
  .contactus__ .our-contacts {
    padding: 40px;
  }
  .contactus__ .our-contacts .contacts {
    width: 45%;
    padding: 20px;
  }
  .contactus__ .our-contacts .contacts p {
    font-size: 28px;
  }
  .contactus__ .our-contacts .contacts .social-media-links {
    margin-bottom: 30px;
  }
  .contactus__ .our-contacts .contacts .social-media-links p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .social-media-links a {
    margin-right: 40px;
    font-size: 30px;
    color: var(--ColorPink);
  }
  .contactus__ .our-contacts .contacts .contact-addresses {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactus__ .our-contacts .contacts .contact-addresses p {
    font-size: 17px;
  }
  .contactus__ .our-contacts .contacts .contact-addresses a {
    margin-right: 40px;
    font-size: 20px;
    color: var(--ColorPink);
  }
}
/*# sourceMappingURL=contactPage.css.map */