.SED-container {
  width: 100%;
  height: 572px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.SED-container>.eventsDetails {
  width: 50%;
  margin: 0 auto;
}

.SED-container>.eventsDetails>.image-container {
  width: 100%;
  height: 79%;
  overflow: hidden;
}

.SED-container>.eventsDetails>.title {
  padding-left: 3rem;
  width: 100%;
  margin: 0;
  padding-top: 0.5rem;
  display: flex;
  background-color: var(--ColorPurple);
  flex-direction: column;
}

.SED-container>.eventsDetails>.title>.COE {
  color: var(--ColorPink);
  font-size: 13px;
  font-weight: 700;
}

.SED-container>.eventsDetails>.title>.des {
  padding-bottom: 25px 0px;
}

.SED-container>.eventsDetails>.title>.des>h2 {
  font-size: 28px;
  margin-bottom: 10px;
  width: 90%;
  height: 84px;
}

.SED-container>.eventsDetails>.title>.des>span {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  color: #363535;
  background-color: var(--ColorWhite);
}

.SED-container>.details {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.SED-container>.details>.more-des {
  width: 100%;
  height: 35.75rem;
  overflow: hidden;
  list-style: none;
  color: #363535;
  text-align: justify;
}

.SED-container>.details>.more-des>.event-date>a {
  color: var(--ColorPink);
}

.SED-container>.details>.more-des>.event-date {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  font-size: 14px;
}

.SED-container>.details>.more-des>.event-date>p {
  font-size: 30px;
  margin: 0 7px;
  color: var(--ColorPink);
}

.SED-container>.details>.more-des>h3 {
  margin: 0.5rem 0rem;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-content: center;
  width: 80%;
  margin: auto;
}

.SED-container>.details>.more-des>.About-event {
  width: 80%;
  margin: auto;
}

.SED-container>.details>.more-des>.share-link {
  width: 100%;
  height: 100%;
  background-color: #e4e3e3;
  padding: 20px 0;
}

.SED-container>.details>.more-des>.share-link>.share {
  width: 50%;
  height: 10%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.SED-container>.details>.more-des>.share-link>.share>p {
  font-size: 13px;
  padding: 10px 0;
  font-weight: bold;
}

.SED-container>.details>.more-des>.share-link>.share>button {
  border: solid 1px #aaaaaa;
  outline: none;
  width: 50%;
  border-radius: 10px;
  background-color: var(--ColorPink);
  color: var(--ColorWhite);
}

.SED-container>.details>.more-des>.share-link>.share>span {
  background-color: var(--ColorWhite);
  width: 20%;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  border-radius: 10px;
}

.attendees {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 1.5rem;
}

.map {
  width: 100%;
  height: 30rem;
  margin: auto;
  color: #363535;
  background-color: #363535;
}

.map>.map-view {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.react-tabs {
  width: 85%;
  margin: 5rem auto;
}

.react-tabs > p {
  width: 80%;
  margin: 1rem auto;
  font-weight: 600;
  font-size: 33px;
  color: #888787;
}

.react-tabs > .react-tabs__tab-list {
  display: flex;
  color: var(--ColorPurple);
  list-style-type: none;
  width: 80%;
  margin: auto;
  cursor: pointer;
}

.react-tabs>.react-tabs__tab-list>.react-tabs__tab {
  margin-right: 20px;
}

.react-tabs__tab--selected {
  font-weight: bold;
  color: var(--ColorPink);
}

@media screen and (max-width: 960px) {
  .SED-container {
    flex-direction: column;
    /* height: 38rem; */
  }
  .SED-container>.eventsDetails {
    flex-direction: column;
    width: 100%;
  }
  .SED-container > .eventsDetails > .title> .des > h2 {
    font-size: 20px;
  }
  .SED-container > .details > .more-des {
    width: 100%;
    flex-direction: column;
    margin: 2rem auto;
    display: flex;
    font-size: 14px;
  }
  .SED-container > .details {
    width: 90%;
  }
  .SED-container > .details > .more-des > .event-date {
    width: 90%;
  }
  .SED-container > .details > .more-des > .event-date > .attendees {
    font-size: 20px;
  }
.SED-container>.details>.more-des>.About-event {
  width: 80%;
}
.map{
  display: none;
}
}