// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .SED-container{
        max-width: 100%;
        padding: 10px;
        background-color: #f0eff5;
        .img-container{
            width: 60%;
            height: 275px;
            margin: auto;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 6px 6px 5px #c6c6c7;
            img{
                width: 100%;
            }
            
        }
        .SED-details{
            width: 80%;
            margin: auto;
            padding: 5px;
            p{
                font-size: 35px;
                font-weight: 800;
                text-align: center;
                color: var(--ColorPurple);
            }
            table{
                width: 100%;
                padding: 10px;
                td{
                    padding: 15px;
                    color: #363535;
                    font-size: 13px;
                }
                .td1{
                    color: var(--ColorPink);
                    font-size: 15px;
                    font-weight: 700;
                }
                tr:nth-child(even){
                    background-color: #c6c6c7;
                }
            }
        }
    }
 }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }