.liveNow{
    width: 90%;
    margin: auto;
    padding: 50px 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 15px;
    
}
.right{
    background-color: var(--ColorPink);
    padding: 10px;
    border-radius: 15px;
}
p{
    font-weight: 700;
}
