*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
}
:root{
    --ColorPurple: #48108d;
    --ColorPink: #ff1493;
    --ColorWhite: #fff;
    
}
body{
    background: var(--ColorPurple);
    color: var(--ColorWhite);
}
.cover{
    background-color: var(--ColorWhite);
    
}