.container-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 90%;
  height: 85vh;
  margin: 10px auto;
  overflow: hidden;
}
.video-player {
  width: 70%;
  padding: 5px;
}
.video-player > .video-player-preview {
  background-color: #1a1919;
  width: 98%;
  padding: 250px 70px;
  font-size: 13px;
  font-style: oblique;
  justify-content: center;
  text-align: center;
}
.Events-info {
  width: 30%;
  padding: 5px;
}
.Events-info > .Events-info-header {
  background-color: #ffffff;
  color: var(--ColorPink);
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
}
.Events-info > .Events-info-details {
  background-color: #f7f7f7;
  color: #bdbcbc;
  padding: 30px;
  line-height: 25px;
  height: 50%;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 1080px) {
  .container-mobile {
    flex-direction: column;
  }
  .video-player {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .video-player > .video-player-preview {
    width: 100%;
  }
  .Events-info {
    width: 100%;
  }
}
