.db-container {
    max-width: 100%;
    margin: auto;
    background-color: #f5f3f3;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.db-container > .profile{
    width: 70%;
    margin:auto;
    background-color: var(--ColorWhite);
    color: #aaa;
    padding: 3rem 2rem;
}
.db-container > .profile > .img-container{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
    overflow:hidden;
}
.db-container > .profile > .img-container > img{
    width: 100%;
    height: 100%;
}
.db-container > .profile > .profile-details{
    width: 70%;
    margin: auto;
    text-align: center;
}
/* .db-container > .profile > .profile-details > form{
    justify-content: center;
    align-items: center;
    align-content: center;
} */
.db-container > .profile > .profile-details > form > .f-group{
    width: 90%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-between;
}
.db-container > .profile > .profile-details > form > .f-group > label{
    width: 30%;
    margin: 0px 10px;
    padding: 10px;
}
.db-input{
    height: 40px;
    width: 70%;
    padding: 0 10px;
}
.db-btn{
    width: 40%;
    margin: auto;
    padding: 10px;
    border: none;
    color: var(--ColorWhite);
    background-color: var(--ColorPurple);
}