.hidden{
  display: none;
}
.NavbarItems {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--ColorWhite) !important;
}
.navbar-logo {
  justify-self: start;
  margin-left: 4rem;
  cursor: pointer;
}
.navbar-logo img {
  margin: 5px;
  height: 55px;
}
.navbar-static-link{
  list-style-type: none;
  display: flex;
  margin: 0rem 2rem; 
  
  color: var(--ColorWhite) !important;
}
.navbar-static-link > li{
  width: 7rem;
}
.navbar-static-link > li > a{    
  color: var(--ColorWhite) !important;
  text-decoration: none;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
}

.nav-links {
  
  color: var(--ColorWhite) !important;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user > img {
  border: 2px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50px;
}
.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
.user_dropdown{
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  top: 70px;
  right: 55px;
  z-index: 3;
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  width: 10%;
  border-radius: 5px;
}
.user_dropdown > a{
  padding: 10px;
  color: #aaa;
  width: 100%;
  cursor: pointer;
}
.user_dropdown > a:hover{
  color: var(--ColorPink);
  background-color: #ff149141;
}

@media screen and (max-width: 960px) {
  
  .NavbarItems {
    position: relative;
    height: 80px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;    
    background-color: var(--ColorWhite);
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navbar-static-link{
    display: none;
  }
  .navbar-logo img {
    margin-top: -12px;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: var(--ColorPink);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    list-style-type: none;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
