@media (max-width: 575.98px) {
  .contact-container {
    max-width: 100%;
    color: var(--ColorPurple);
  }
  .contact-container .contact-contain {
    width: 100%;
    background-color: var(--ColorWhite);
  }
  .contact-container .contact-contain form {
    width: 100%;
    text-align: center;
  }
  .contact-container .contact-contain form .title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .contact-container .contact-contain form p {
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    color: var(--ColorPink);
    margin: auto;
  }
  .contact-container .contact-contain form input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #c9c8c8;
    margin: 20px auto;
  }
  .contact-container .contact-contain form button {
    width: 70%;
    padding: 10px;
    background-color: var(--ColorPurple);
    border: none;
    color: var(--ColorWhite);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 30px auto;
  }
  .contact-container .contact-contain .contact-card {
    width: 100%;
    background-image: url("./bg.png");
    background-blend-mode: overlay;
    background-color: #0000008f;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .contact-container .contact-contain .contact-card .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
    color: var(--ColorWhite);
    text-transform: uppercase;
  }
  .contact-container .contact-contain .contact-card .contacts {
    text-align: center;
    font-size: 15px;
    color: var(--ColorWhite);
  }
  .contact-container .contact-contain .contact-card .contacts p {
    margin: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .contact-container {
    max-width: 100%;
    color: var(--ColorPurple);
  }
  .contact-container .contact-contain {
    width: 100%;
    background-color: var(--ColorWhite);
  }
  .contact-container .contact-contain form {
    width: 100%;
    text-align: center;
  }
  .contact-container .contact-contain form .title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .contact-container .contact-contain form p {
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    color: var(--ColorPink);
    margin: auto;
  }
  .contact-container .contact-contain form input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #c9c8c8;
    margin: 30px auto;
  }
  .contact-container .contact-contain form button {
    width: 70%;
    padding: 10px;
    background-color: var(--ColorPurple);
    border: none;
    color: var(--ColorWhite);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 30px auto;
  }
  .contact-container .contact-contain .contact-card {
    width: 100%;
    background-image: url("./bg.png");
    background-blend-mode: overlay;
    background-color: #0000008f;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .contact-container .contact-contain .contact-card .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
    color: var(--ColorWhite);
    text-transform: uppercase;
  }
  .contact-container .contact-contain .contact-card .contacts {
    text-align: center;
    font-size: 15px;
    color: var(--ColorWhite);
  }
  .contact-container .contact-contain .contact-card .contacts p {
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .contact-container {
    max-width: 100%;
    color: var(--ColorPurple);
  }
  .contact-container .contact-contain {
    width: 100%;
    background-color: var(--ColorWhite);
  }
  .contact-container .contact-contain form {
    width: 100%;
    text-align: center;
  }
  .contact-container .contact-contain form .title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .contact-container .contact-contain form p {
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    color: var(--ColorPink);
    margin: auto;
  }
  .contact-container .contact-contain form input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #c9c8c8;
    margin: 30px auto;
  }
  .contact-container .contact-contain form button {
    width: 70%;
    padding: 10px;
    background-color: var(--ColorPurple);
    border: none;
    color: var(--ColorWhite);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 30px auto;
  }
  .contact-container .contact-contain .contact-card {
    width: 100%;
    background-image: url("./bg.png");
    background-blend-mode: overlay;
    background-color: #0000008f;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }
  .contact-container .contact-contain .contact-card .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
    color: var(--ColorWhite);
    text-transform: uppercase;
  }
  .contact-container .contact-contain .contact-card .contacts {
    text-align: center;
    font-size: 15px;
    color: var(--ColorWhite);
  }
  .contact-container .contact-contain .contact-card .contacts p {
    margin: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact-container {
    max-width: 100%;
    color: var(--ColorPurple);
  }
  .contact-container .contact-contain {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
  }
  .contact-container .contact-contain form {
    width: 70%;
    text-align: center;
  }
  .contact-container .contact-contain form .title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .contact-container .contact-contain form p {
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    color: var(--ColorPink);
    margin: auto;
  }
  .contact-container .contact-contain form input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #c9c8c8;
    margin: 30px auto;
  }
  .contact-container .contact-contain form button {
    width: 70%;
    padding: 10px;
    background-color: var(--ColorPurple);
    border: none;
    color: var(--ColorWhite);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 30px auto;
  }
  .contact-container .contact-contain .contact-card {
    width: 30%;
    background-image: url("./bg.png");
    background-blend-mode: overlay;
    background-color: #0000008f;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 15px;
  }
  .contact-container .contact-contain .contact-card .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
    color: var(--ColorWhite);
    text-transform: uppercase;
  }
  .contact-container .contact-contain .contact-card .contacts {
    text-align: center;
    font-size: 15px;
    color: var(--ColorWhite);
  }
  .contact-container .contact-contain .contact-card .contacts p {
    margin: 40px;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    max-width: 100%;
    color: var(--ColorPurple);
  }
  .contact-container .contact-contain {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--ColorWhite);
  }
  .contact-container .contact-contain form {
    width: 70%;
    text-align: center;
  }
  .contact-container .contact-contain form .title {
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
  }
  .contact-container .contact-contain form p {
    width: 90%;
    font-weight: 500;
    font-size: 14px;
    color: var(--ColorPink);
    margin: auto;
  }
  .contact-container .contact-contain form input {
    width: 70%;
    border: none;
    border-bottom: solid 2px #c9c8c8;
    margin: 30px auto;
  }
  .contact-container .contact-contain form button {
    width: 70%;
    padding: 10px;
    background-color: var(--ColorPurple);
    border: none;
    color: var(--ColorWhite);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 30px auto;
  }
  .contact-container .contact-contain .contact-card {
    width: 30%;
    background-image: url("./bg.png");
    background-blend-mode: overlay;
    background-color: #0000008f;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 15px;
  }
  .contact-container .contact-contain .contact-card .title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 20px;
    color: var(--ColorWhite);
    text-transform: uppercase;
  }
  .contact-container .contact-contain .contact-card .contacts {
    text-align: center;
    font-size: 15px;
    color: var(--ColorWhite);
  }
  .contact-container .contact-contain .contact-card .contacts p {
    margin: 40px;
  }
}
/*# sourceMappingURL=style.css.map */