.search-event{
    display:flex;
    width: 75%;
    margin: auto;
    background-color:var(--ColorPurple);
    padding: 19px;
    height: 15rem;
    justify-content: center;
    align-content: center;

}
.search-event > .search-text{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-content: center;
}
.search-event > .search-text > span{
    font-size: 16px;
    font-weight: 600;
    margin: 1px 0;
}
.search-event > .search-text > p{
    font-size: 30px;
    font-weight: 700;
}
.search-event > .search-input{
    display: flex;
    width: 55%;
    padding-top: 70px;
}
.search-event > .search-input > input{
    width: 80%;
    height: 40%;
    padding: 10px;
    margin: 0 10px;
    outline: none;
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000003a;
}
.search-event > .search-input > a{
    height: 40%;
    width: 30%;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    outline: none;
    background-color: var(--ColorPink);
    color: var(--ColorWhite);
    font-size: 15px;
    font-weight: 600;
    box-shadow: 5px 5px 10px #0000003a;
}
@media screen and (max-width: 1080px) {

    .search-event{
        display:flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        background-color:var(--ColorPurple);
        height: 15rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    
    }
    .search-event > .search-text{
        display: flex;
        flex-direction: column;
        width: 93%;
        margin-bottom: -10%;
        justify-content: center;
        align-content: center;
    }
    .search-event > .search-input{
        display: flex;
        width: 98%;
    }
    .search-event > .search-input > input{
        width: 80%;
        height: 90%;
        padding: 20px;
    }
    .search-event > .search-input > a{
        height: 90%;
        width: 20%;
        
    } 
}