@media (max-width: 575.98px) {
    .HIW-container {
        max-width: 100%;
        height: 70%;
        color: var(--ColorPurple);
        background-image: url('./bg.png');
        background-size: cover;
        background-repeat: no-repeat;

        .HIW-contain {
            width: 90%;
            margin: auto;
            background-color: var(--ColorWhite);

            .title {
                padding: 20px;
                text-align: center;
                font-size: 22px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .content-container {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                margin: auto;

                .content {
                    display: flex;
                    width: 100%;
                    margin: 20px auto;
                    padding: 10px;
                    align-items: center;

                    p {
                        font-size: 70px;
                        margin: 0px 15px;
                        font-weight: 600;
                        color: var(--ColorPink);
                    }

                    .content-content {
                        text-align: center;

                        p {
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: var(--ColorPurple);
                        }


                        small {
                            font-size: 13px;
                            font-weight: none;
                            text-transform: none;
                            text-align: justify;

                        }
                    }
                }
            }
        }
    }

    .search-event {
        width: 100%;
        margin: auto;
        background-color: var(--ColorPurple);
        padding: 20px;
        height: 10rem;
        justify-content: center;
        align-content: center;

        .search-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-content: center;

            span {
                font-size: 12px;
                font-weight: 600;
                margin: 1px 0;
            }

            p {
                font-size: 20px;
                font-weight: 700;
            }

        }
        
        .search-input {
            display: flex;
            width: 100%;
            padding-top: 10px;

            input {
                width: 100%;
                padding: 12px;
                margin: 0 5px;
                outline: none;
                border: none;
                font-size: 12px;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #0000003a;
            }

            a {
                height: 40%;
                width: 30%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                outline: none;
                background-color: var(--ColorPink);
                color: var(--ColorWhite);
                font-size: 12px;
                box-shadow: 5px 5px 10px #0000003a;
            }
        }

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .HIW-container {
        max-width: 100%;
        height: 70%;
        color: var(--ColorPurple);
        background-image: url('./bg.png');
        background-size: cover;
        background-repeat: no-repeat;

        .HIW-contain {
            width: 90%;
            margin: auto;
            background-color: var(--ColorWhite);

            .title {
                padding: 20px;
                text-align: center;
                font-size: 22px;
                font-weight: 800;
                text-transform: uppercase;
            }

            .content-container {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                margin: auto;

                .content {
                    display: flex;
                    width: 100%;
                    margin: 20px auto;
                    padding: 10px;
                    align-items: center;

                    p {
                        font-size: 70px;
                        margin: 0px 15px;
                        font-weight: 600;
                        color: var(--ColorPink);
                    }

                    .content-content {
                        text-align: center;

                        p {
                            font-size: 18px;
                            font-weight: 700;
                            text-transform: uppercase;
                        text-align: justify;
                        color: var(--ColorPurple);
                        }


                        small {
                            font-size: 13px;
                            font-weight: none;
                            text-transform: none;

                        }
                    }
                }
            }
        }
    }

    .search-event {
        width: 100%;
        margin: auto;
        background-color: var(--ColorPurple);
        padding: 20px;
        height: 10rem;
        justify-content: center;
        align-content: center;

        .search-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-content: center;

            span {
                font-size: 12px;
                font-weight: 600;
                margin: 1px 0;
            }

            p {
                font-size: 20px;
                font-weight: 700;
            }

        }
        
        .search-input {
            display: flex;
            width: 100%;
            padding-top: 10px;

            input {
                width: 100%;
                padding: 12px;
                margin: 0 5px;
                outline: none;
                border: none;
                font-size: 12px;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #0000003a;
            }

            a {
                height: 40%;
                width: 30%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                outline: none;
                background-color: var(--ColorPink);
                color: var(--ColorWhite);
                font-size: 12px;
                box-shadow: 5px 5px 10px #0000003a;
            }
        }

    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .HIW-container {
        max-width: 100%;
        height: 70%;
        color: var(--ColorPurple);
        background-image: url('./bg.png');
        background-size: cover;
        background-repeat: no-repeat;

        .HIW-contain {
            width: 75%;
            margin: auto;
            padding: 20px;
            background-color: var(--ColorWhite);

            .title {
                text-align: center;
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            .content-container {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                margin: auto;

                .content {
                    display: flex;
                    width: 80%;
                    margin: 20px auto;
                    padding: 10px;
                    align-items: center;

                    p {
                        font-size: 50px;
                        margin: 0px 15px;
                        font-weight: 600;
                        color: var(--ColorPink);
                    }

                    .content-content {
                        text-align: center;

                        p {
                            font-size: 20px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: var(--ColorPurple);
                        }


                        small {
                            font-size: 13px;
                            font-weight: none;
                            text-transform: none;
                            text-align: justify;

                        }
                    }
                }
            }
        }
    }
    .search-event {
        width: 90%;
        margin: auto;
        background-color: var(--ColorPurple);
        padding: 19px;
        height: 12rem;
        justify-content: center;
        align-content: center;

        .search-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-content: center;

            span {
                font-size: 16px;
                font-weight: 600;
                margin: 1px 0;
            }

            p {
                font-size: 28px;
                font-weight: 700;
            }

        }
        
        .search-input {
            display: flex;
            width: 100%;
            padding-top: 20px;

            input {
                width: 80%;
                padding: 12px;
                margin: 0 10px;
                outline: none;
                border: none;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #0000003a;
            }

            a {
                height: 40%;
                width: 30%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                outline: none;
                background-color: var(--ColorPink);
                color: var(--ColorWhite);
                font-size: 15px;
                font-weight: 600;
                box-shadow: 5px 5px 10px #0000003a;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .HIW-container {
        max-width: 100%;
        height: 70%;
        color: var(--ColorPurple);
        background-image: url('./bg.png');
        background-size: cover;
        background-repeat: no-repeat;

        .HIW-contain {
            width: 95%;
            margin: auto;
            padding: 5px;
            background-color: var(--ColorWhite);

            .title {
                text-align: center;
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            .content-container {
                display: flex;
                max-width: 100%;
                margin: auto;

                .content {
                    display: flex;
                    width: 32%;
                    margin: 20px auto;
                    align-items: center;

                    p {
                        font-size: 70px;
                        margin: 0px 15px;
                        font-weight: 600;
                        color: var(--ColorPink);
                    }

                    .content-content {
                        text-align: center;

                        p {
                            font-size: 17px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: var(--ColorPurple);
                            }


                        small {
                            font-size: 12px;
                            font-weight: none;
                            text-transform: none;
                            text-align: justify;

                        }
                    }
                }
            }
        }
    }
    .search-event {
        width: 90%;
        margin: auto;
        background-color: var(--ColorPurple);
        padding: 10px;
        height: 12rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;

        .search-text {
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: center;
            margin-top: 5px;

            span {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-size: 28px;
                font-weight: 700;
            }

        }
        
        .search-input {
            display: flex;
            width: 50%;

            input {
                width: 80%;
                padding: 12px;
                margin: 0 10px;
                outline: none;
                height: 40%;
                border: none;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #0000003a;
            }

            a {
                height: 40%;
                width: 30%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                outline: none;
                background-color: var(--ColorPink);
                color: var(--ColorWhite);
                font-size: 15px;
                font-weight: 600;
                box-shadow: 5px 5px 10px #0000003a;
            }
        }
    }
}

@media (min-width: 1200px) {
    .HIW-container {
        max-width: 100%;
        height: 90%;
        color: var(--ColorPurple);
        background-image: url('./bg.png');
        background-size: cover;
        background-repeat: no-repeat;

        .HIW-contain {
            width: 90%;
            margin: auto;
            padding: 20px;
            background-color: var(--ColorWhite);

            .title {
                text-align: center;
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            .content-container {
                display: flex;
                max-width: 100%;
                margin: auto;

                .content {
                    display: flex;
                    width: 32%;
                    margin: 20px auto;
                    align-items: center;

                    p {
                        font-size: 90px;
                        margin: 0px 10px;
                        font-weight: 600;
                        color: var(--ColorPink);
                    }

                    .content-content {
                        text-align: center;

                        p {
                            font-size: 16px;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: var(--ColorPurple);
                        }


                        small {
                            font-size: 13px;
                            font-weight: none;
                            text-transform: none;
                            text-align: justify;

                        }
                    }
                }
            }
        }
    }
    .search-event {
        width: 90%;
        margin: auto;
        background-color: var(--ColorPurple);
        padding: 10px;
        height: 12rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;

        .search-text {
            display: flex;
            flex-direction: column;
            width: 60%;
            text-align: center;
            margin-top: 5px;

            span {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-size: 28px;
                font-weight: 700;
            }

        }
        
        .search-input {
            display: flex;
            width: 40%;
    margin: auto;            

            input {
                width: 80%;
                padding: 12px;
                margin: 0 10px;
                outline: none;
                height: 40%;
                border: none;
                border-radius: 10px;
                box-shadow: 5px 5px 10px #0000003a;
            }

            a {
                height: 40%;
                width: 30%;
                border: none;
                border-radius: 10px;
                text-align: center;
                padding: 12px;
                text-decoration: none;
                outline: none;
                background-color: var(--ColorPink);
                color: var(--ColorWhite);
                font-size: 15px;
                font-weight: 600;
                box-shadow: 5px 5px 10px #0000003a;
            }
        }
    }
}